
@{
    Layout = null;
}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <h2>Hoşgeldiniz: @ViewBag.name @ViewBag.surname</h2>
    <h3>ID numaranız: @ViewBag.id</h3>
</div>