
<a href="#" class="nav-link">
    <div class="nav-profile-image">
        <img src="@ViewBag.image" alt="profile" />
        <span class="login-status online"></span>
        <!--change to offline or busy as needed-->
    </div>
    <div class="nav-profile-text d-flex flex-column pr-3">
        <span class="font-weight-medium mb-2">@ViewBag.name</span>
     

        @* <span class="font-weight-normal">Toplam Blog Sayısı : @ViewBag.blogCount</span> *@
    </div>
     <span class="badge badge-danger text-white ml-3 rounded">@ViewBag.blogCount</span>
</a>

