
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadComponentPartial")

<body>
    <div class="container-scroller">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
                <a class="sidebar-brand brand-logo" href="../../index.html"><img src="~/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/logo.svg" alt="logo" /></a>
                <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="../../index.html"><img src="~/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <ul class="nav">
                <li class="nav-item nav-profile">
                    @await Component.InvokeAsync("_PartialUserProfilePartial")
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Writer/Blog/MyBlogList">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">Bloglarım</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Writer/Profile/EditProfile">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">Profili Düzenle</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Category/Index">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">Kategoriler</span>
                    </a>
                </li>
             
                <li class="nav-item">
                    <a class="nav-link" href="/Default/index">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">Siteye Git</span>
                    </a>
                </li>

                <li class="nav-item sidebar-actions">
                    <div class="nav-link">
                        <div class="mt-4">
                            <div class="border-none">
                                <p class="text-black">Bildirim</p>
                            </div>
                            <ul class="mt-4 pl-0">
                                <li>Çıkış</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="container-fluid page-body-wrapper">   
            @await Component.InvokeAsync("_ThemeSettingsComponentPartial")
            <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
                <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
                    <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="../../index.html"><img src="../../assets/images/logo-mini.svg" alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
                        <i class="mdi mdi-menu"></i>
                    </button>
                    <ul class="navbar-nav">
                        @await Component.InvokeAsync("_MessagesComponentPartial")
                        @await Component.InvokeAsync("_NotificationsComponentPartial")
                        @await Component.InvokeAsync("_WriterSearchComponentPartial")
                    </ul>
                    <ul class="navbar-nav navbar-nav-right ml-lg-auto">
                        @await Component.InvokeAsync("_WeatherComponentPartial")
                        @await Component.InvokeAsync("_WriterProfileComponentPartial")
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-menu"></span>
                    </button>
                </div>
            </nav>
            @RenderBody()
        </div>
    </div>
    @await Component.InvokeAsync("_WriterScriptComponentPartial")
   
</body>
</html>
