
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

@await Component.InvokeAsync("_DefaultHeadComponentPartial")

<body>


    @await Component.InvokeAsync("_SidebarComponentPartial")
    @await Component.InvokeAsync("_NavbarComponentPartial")
    
    <section class="categories categories-grid spad">
        <div class="categories__post">
            <div class="container">
                <div class="categories__grid__post">
                    <div class="row">

                        @await Component.InvokeAsync("_BlogListComponentPartial")

                        <div class="col-lg-4 col-md-4">
                            <div class="sidebar__item">
                                @await Component.InvokeAsync("_AboutComponentPartial")
                                
                                @await Component.InvokeAsync("_SocialMediaComponentPartial")

                                @await Component.InvokeAsync("_SidebarFeatureComponentPartial")

                           
                                <div class="sidebar__item__banner">
                                    <img src="~/foodeiblog-master/img/sidebar/banner.jpg" alt="">
                                </div>

                                @await Component.InvokeAsync("_CategoryComponentPartial")

                                @await Component.InvokeAsync("_SubscribeComponentPartial")

                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @await Component.InvokeAsync("_FooterComponentPartial")
    
    @await Component.InvokeAsync("_SearchComponentPartial")

    @await Component.InvokeAsync("_ScriptComponentPartial")
  
</body>

</html>